# Intermovie - projet 6 
Utilisation de dataframes pour manipuler des données. Exportation en CSV pour chaque dataframe créé.

## Import des librairies

In [1]:
import pandas as pd

%load_ext autoreload
%autoreload 2

## 2. La liste des films Américains (en gardant leur nom en français) et leur note moyenne
### Import des datas initiaux :

In [2]:
title_akas = pd.read_csv("../movies_dataset/title.akas.tsv",sep='\t')
print('Title Akas imported.')

title_basics = pd.read_csv("../movies_dataset/title.basics.tsv",sep='\t')
print('Title Basics imported.')

title_ratings = pd.read_csv("../movies_dataset/title.ratings.tsv",sep='\t')
print('Title Ratings imported.')

Title Akas imported.
Title Basics imported.
Title Ratings imported.

### Nettoyage du dataset :

In [3]:
title_akas = title_akas.dropna()
title_akas = title_akas[['titleId']][title_akas['region'].str.contains('US')]

In [4]:
title_basics = title_basics.dropna()
title_basics = title_basics[['tconst', 'originalTitle']][title_basics.titleType.str.contains('movie|tvMovie', regex=True)]

In [5]:
title_ratings = title_ratings.dropna()
title_ratings = title_ratings[['tconst', 'averageRating']]

### Jointure des tables :

In [6]:
title_akas = title_akas.rename(columns={'titleId': 'tconst'})
title_akas = title_akas.merge(title_basics, how='left', on=['tconst'])
title_akas = title_akas.merge(title_ratings, how='left', on=['tconst'])
title_akas.dropna()

           tconst                   originalTitle  averageRating
12      tt0000009                      Miss Jerry            5.4
91      tt0000147   The Corbett-Fitzsimmons Fight            5.2
299     tt0000630                          Amleto            2.7
332     tt0000679  The Fairylogue and Radio-Plays            4.8
502     tt0000886                          Hamlet            5.2
...           ...                             ...            ...
876589  tt9894470                             VFW            7.2
876593  tt9896916          The Pilgrim's Progress            5.0
876604  tt9900782                          Kaithi            8.9
876619  tt9906644                       Manoharam            7.6
876632  tt9909228                           Ximei            5.5

[132345 rows x 3 columns]

In [7]:
title_akas = title_akas[['originalTitle', 'averageRating']]
title_akas = title_akas.dropna()
title_akas.drop_duplicates(keep=False,inplace=True)
title_akas = title_akas.reset_index(drop=True)

### Import en CSV du fichier

In [22]:
title_akas.to_csv('films_americains_notes2.csv', index=False)