In [ ]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd 
import csv

dataframe_title_principals = pd.read_csv("../movies_dataset/title.principals.tsv",sep='\t')
dataframe_title_principals.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Herself""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N