# Intermovie - projet 6 
Utilisation de dataframes pour manipuler des données. Exportation en CSV pour chaque dataframe créé.

## Import des librairies et chargement des dataframes

In [ ]:
%load_ext autoreload
%autoreload 2

In [1]:
import pandas as pd 
import numpy as np
import csv

In [2]:
dataframe_name_basics = pd.read_csv("../movies_dataset/name.basics.tsv",sep='\t')
dataframe_title_akas = pd.read_csv("../movies_dataset/title.akas.tsv",sep='\t')
dataframe_title_basics = pd.read_csv("../movies_dataset/title.basics.tsv",sep='\t')
dataframe_title_principals = pd.read_csv("../movies_dataset/title.principals.tsv",sep='\t')
dataframe_title_ratings = pd.read_csv("../movies_dataset/title.ratings.tsv",sep='\t')
# dataframe_title_principals.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Herself""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

## 1. Sélection de la liste des acteurs par films

In [15]:
df_actors = pd.DataFrame()
for index, row in dataframe_title_principals[:50].iterrows():
    if row['category']=='actor' or row['category']=='actress':
        print(1, end = " ")
        df_actors.append(row)
        print(row['tconst'])
    else:
        print(0, end = " ")

df_actors.groupby(['tconst']).head() #| Returns groupby object for values from multiple columns

# df.to_csv(filename)

0 0 0 0 0 0 0 0 0 0 0 1 tt0000005
1 tt0000005
0 0 0 1 tt0000007
1 tt0000007
0 0 0 1 tt0000008
0 0 1 tt0000009
1 tt0000009
1 tt0000009
0 0 1 tt0000011
0 0 0 0 0 0 0 0 0 0 0 0 1 tt0000014
1 tt0000014
0 0 0 0 0 1 tt0000017

KeyError: 1