# Intermovie - projet 6 
Utilisation de dataframes pour manipuler des données. Exportation en CSV pour chaque dataframe créé.

In [ ]:
%load_ext autoreload
%autoreload 2

## 1. Sélection de la liste des acteurs par films

In [20]:
import pandas as pd 
import numpy as np
import csv

In [21]:
dataframe_title_principals = pd.read_csv("../movies_dataset/title.principals.tsv",sep='\t')
dataframe_title_principals.head()

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Herself""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N

In [26]:
# for data in dataframe_title_principals:
#     print(data)
    # if data[]=='category':
        # print('oui')
#         df_actors.append(data)

# df_actors.head()


for index, row in dataframe_title_principals.iterrows():
    if row['category']=='actor' or row['category']=='actress':
        df_actors.append(row)

df_actor.groupby(['tconst']).head() #| Returns groupby object for values from multiple columns
# df.groupby(col1)[col2] | Returns the mean of the values in col2, grouped by the values in col1 (mean can be replaced with almost any function from the statistics module)

# df.to_csv(filename)

NameError: name 'df_actors' is not defined