# Intermovie - projet 6 
Utilisation de dataframes pour manipuler des données. Exportation en CSV pour chaque dataframe créé.

## Import des librairies et chargement des dataframes

In [39]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import csv
from my_timer import MyTimer
import random

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
# identifiant, nom, dates et travail
dataframe_name_basics = pd.read_csv("../movies_dataset/name.basics.tsv",sep='\t')
# identifiant et titre de film
dataframe_title_akas = pd.read_csv("../movies_dataset/title.akas.tsv",sep='\t')
# films avec leur titre, genre etc
dataframe_title_basics = pd.read_csv("../movies_dataset/title.basics.tsv",sep='\t')
# identifiant de personnes avec leur film
title_principals = pd.read_csv("../movies_dataset/title.principals.tsv",sep='\t')
# film avec note et nbr vote
dataframe_title_ratings = pd.read_csv("../movies_dataset/title.ratings.tsv",sep='\t')

# dataframe_title_principals.head()

## 1. Sélection de la liste des acteurs par films

Chargement d'un echantillon de title.principals.tsv

In [41]:
p = 0.001

title_principals = None
title_principals = pd.read_csv("../movies_dataset/title.principals.tsv",sep='\t',skiprows=lambda i: i>0 and random.random() > p)
print(title_principals.head())

title_basics = None
title_basics = pd.read_csv("../movies_dataset/title.basics.tsv", sep='\t', skiprows=lambda i: i>0 and random.random() > p)
print(title_basics.head())

name_basics = None
name_basics = pd.read_csv("../movies_dataset/name.basics.tsv", sep='\t', skiprows=lambda i: i>0 and random.random() > p)
print(name_basics.head())

tconst  ordering     nconst  category job        characters
0  tt0000564         1  nm0085865  director  \N                \N
1  tt0000938         7  nm0366008     actor  \N                \N
2  tt0001135         6  nm0852022    writer  \N                \N
3  tt0001925         3  nm0673814     actor  \N  ["Joseph Close"]
4  tt0002684         5  nm0376396  director  \N                \N
      tconst titleType                  primaryTitle  \
0  tt0000632     short                 Amor que mata
1  tt0002353     short          A Matter of Business
2  tt0002761     short  The Conscience of Hassan Bey
3  tt0005718     short        Martin Lowe, Financier
4  tt0007045     movie          Martha's Vindication

                  originalTitle  isAdult startYear endYear runtimeMinutes  \
0                 Amor que mata        0      1908      \N             14
1          A Matter of Business        0      1912      \N             \N
2  The Conscience of Hassan Bey        0      1913      \N             10
3        Martin Lowe, Financier        0      1915      \N             \N
4          Martha's Vindication        0      1916      \N             50

        genres
0        Short
1  Drama,Short
2  Drama,Short
3  Drama,Short
4        Drama
      nconst        primaryName birthYear deathYear  \
0  nm0000378      Minnie Driver      1970        \N
1  nm0001248      Zsa Zsa Gabor      1917      2016
2  nm0002066      Ramon Estevez      1963        \N
3  nm0002528  Thomas A. Ohanian      1960        \N
4  nm0002853        Chris Petts        \N        \N

                                primaryProfession  \
0                     actress,soundtrack,producer
1                              actress,soundtrack
2                        producer,actor,executive
3  editor,editorial_department,production_manager
4                   visual_effects,director,actor

                            knownForTitles
0  tt0117665,tt0293508,tt0119229,tt0119217
1  tt0044926,tt0052104,tt0093629,tt0102510
2  tt0101531,tt1986770,tt0109760,tt0085407
3  tt0117421,tt0110797,tt0210127,tt0118869
4  tt0149261,tt4154756,tt4154796,tt0120738

In [ ]:
actor_movie = title_principals.dropna