# Intermovie - projet 6 
Utilisation de dataframes pour manipuler des données. Exportation en CSV pour chaque dataframe créé.

## Import des librairies

In [1]:
import pandas as pd 
import numpy as np
import csv

%load_ext autoreload
%autoreload 2

## 1. Sélection de la liste des acteurs par films
### Import des datas initiaux :

In [2]:
dataframe_name_basics = pd.read_csv("../movies_dataset/name.basics.tsv",sep='\t')
print('Name basics imported.')

dataframe_title_basics = pd.read_csv("../movies_dataset/title.basics.tsv",sep='\t')
print('Title Basics imported.')

dataframe_title_principals = pd.read_csv("../movies_dataset/title.principals.tsv",sep='\t')
print('Title principals imported.')

Name basics imported.
Title Basics imported.
Title principals imported.

### Nettoyage du dataset :

In [3]:
dataframe_title_principals = dataframe_title_principals.dropna()
dataframe_title_principals = dataframe_title_principals[['tconst', 'nconst']][dataframe_title_principals['category'].str.contains("actor|actress", regex=True)]

In [4]:
dataframe_title_basics = dataframe_title_basics.dropna()
dataframe_title_basics = dataframe_title_basics[['tconst', 'primaryTitle']][dataframe_title_basics.titleType.str.contains('movie', regex=True)]

In [5]:
dataframe_name_basics = dataframe_name_basics.dropna()
dataframe_name_basics = dataframe_name_basics[['nconst', 'primaryName']][dataframe_name_basics.primaryProfession.str.contains('actor|actress', regex=True)]

### Jointure des tables :

In [6]:
dataframe_title_principals = dataframe_title_principals.merge(dataframe_name_basics, on=['nconst'], how='left')

In [7]:
dataframe_title_principals = dataframe_title_principals.merge(dataframe_title_basics, on=['tconst'], how='left')

In [10]:
dataframe_title_principals = dataframe_title_principals.dropna()
dataframe_title_principals = dataframe_title_principals[['primaryTitle', 'primaryName']].reset_index(drop=True)
dataframe_title_principals.head()

            primaryTitle        primaryName
0             Miss Jerry    Blanche Bayliss
1             Miss Jerry  William Courtenay
2             Miss Jerry     Chauncey Depew
3  Soldiers of the Cross       Beatrice Day
4  Soldiers of the Cross      Harold Graham

### Import en CSV du fichier

In [11]:
dataframe_title_principals.to_csv('titles_actors.csv')