# Intermovie - projet 6 
Utilisation de dataframes pour manipuler des données. Exportation en CSV pour chaque dataframe créé.

## Import des librairies et chargement des dataframes

In [39]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import csv
from my_timer import MyTimer
import random

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
# identifiant, nom, dates et travail
dataframe_name_basics = pd.read_csv("../movies_dataset/name.basics.tsv",sep='\t')
# identifiant et titre de film
dataframe_title_akas = pd.read_csv("../movies_dataset/title.akas.tsv",sep='\t')
# films avec leur titre, genre etc
dataframe_title_basics = pd.read_csv("../movies_dataset/title.basics.tsv",sep='\t')
# identifiant de personnes avec leur film
title_principals = pd.read_csv("../movies_dataset/title.principals.tsv",sep='\t')
# film avec note et nbr vote
dataframe_title_ratings = pd.read_csv("../movies_dataset/title.ratings.tsv",sep='\t')

# dataframe_title_principals.head()

## 1. Sélection de la liste des acteurs par films

Chargement d'un echantillon de title.principals.tsv

In [45]:
p = 0.001

title_principals = None
title_principals = pd.read_csv("../movies_dataset/title.principals.tsv",sep='\t',skiprows=lambda i: i>0 and random.random() > p)
print(title_principals.head(), '\n-----------------------------------------\n')

title_basics = None
title_basics = pd.read_csv("../movies_dataset/title.basics.tsv", sep='\t', skiprows=lambda i: i>0 and random.random() > p)
print(title_basics.head(), '\n-----------------------------------------\n')

name_basics = None
name_basics = pd.read_csv("../movies_dataset/name.basics.tsv", sep='\t', skiprows=lambda i: i>0 and random.random() > p)
print(name_basics.head(), '\n-----------------------------------------\n')

tconst  ordering     nconst  category job        characters
0  tt0000047         1  nm0617588  director  \N                \N
1  tt0000369         1  nm0005717  director  \N                \N
2  tt0000520         2  nm2329855   actress  \N    ["Mrs. Dyson"]
3  tt0000826         3  nm0704334     actor  \N  ["2nd Bachelor"]
4  tt0000862         1  nm5289829     actor  \N       ["Charles"]
-----------------------------------------

      tconst titleType             primaryTitle            originalTitle  \
0  tt0001254     short  The Honor of His Family  The Honor of His Family
1  tt0002016     short    Los amantes de Teruel    Los amantes de Teruel
2  tt0002272     short  Indian Romeo and Juliet  Indian Romeo and Juliet
3  tt0004646     short              Strongheart              Strongheart
4  tt0004849     short   Bad Buck of Santa Ynez   Bad Buck of Santa Ynez

   isAdult startYear endYear runtimeMinutes                 genres
0        0      1910      \N             11            Drama,Short
1        0      1912      \N             \N            Drama,Short
2        0      1912      \N             \N  Romance,Short,Western
3        0      1914      \N             30   Action,Short,Western
4        0      1915      \N             20          Short,Western
-----------------------------------------

      nconst            primaryName birthYear deathYear  \
0  nm0001576       Heather O'Rourke      1975      1988
1  nm0003297             Andy Brown        \N        \N
2  nm0003979       Daniel Schweiger        \N        \N
3  nm0005460       Mary Steenburgen      1953        \N
4  nm0007976  Gregory Steven Abbott        \N        \N

                                  primaryProfession  \
0                                           actress
1  editorial_department,production_manager,producer
2              actor,miscellaneous,music_department
3                       actress,producer,soundtrack
4                 camera_department,cinematographer

                            knownForTitles
0  tt0070992,tt0091778,tt0084516,tt0095889
1  tt1265619,tt0327375,tt2417970,tt0253335
2  tt0457939,tt0463034,tt1464540,tt0279493
3  tt0099088,tt1204975,tt0838283,tt0080025
4  tt0193576,tt0118970,tt0279695,tt0125879
-----------------------------------------

In [44]:
print(title_principals.size)
actor_movie = title_principals.dropna()
print(actor_movie.size)

218148
218148

In [50]:
from my_timer import MyTimer

timer = MyTimer()
timer.start()
for i in range(0):
    i=i
timer.stop()

timer.start()
for i in range(999099):
    i=i
timer.stop()

Elapsed time: 0.0001 seconds
Elapsed time: 0.3499 seconds