# Intermovie - projet 6 
Utilisation de dataframes pour manipuler des données. Exportation en CSV pour chaque dataframe créé.

## Import des librairies et chargement des dataframes initiaux

In [ ]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd 
import numpy as np
import csv

In [4]:
dataframe_name_basics = pd.read_csv("../movies_dataset/name.basics.tsv",sep='\t')
print('Name basics imported.')

dataframe_title_akas = pd.read_csv("../movies_dataset/title.akas.tsv",sep='\t')
print('Title akas imported.')

dataframe_title_basics = pd.read_csv("../movies_dataset/title.basics.tsv",sep='\t')
print('Title Basics imported.')

dataframe_title_principals = pd.read_csv("../movies_dataset/title.principals.tsv",sep='\t')
print('Title principals imported.')

dataframe_title_ratings = pd.read_csv("../movies_dataset/title.ratings.tsv",sep='\t')
print('Title ratings imported.')

# dataframe_title_principals.head()

Name basics imported.
Title akas imported.
Title Basics imported.
Title principals imported.
Title ratings imported.

## 1. Sélection de la liste des acteurs par films

In [7]:
column_names = ["movie", "actor", "category"]
df_actors = pd.DataFrame(columns = column_names)

for index, row in dataframe_title_principals[:500].iterrows():
    if row['category']=='actor' or row['category']=='actress':
        df_actors = df_actors.append({'movie': row['tconst'], 'actor': row['nconst'], 'category': row['category']}, ignore_index=True)

df_actors.groupby(['movie']).head() #| Returns groupby object for values from multiple columns

# df.to_csv(filename)

0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 1 1 0 0 0 1 0 0 1 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 0 1 0 0 0 0 0 1 1 1 0 0 0 0 00 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 1 0 0 0 0 0 0 0 1 1 0 0 1 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 0 0 1 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 0 1 0 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 1 0 0 0 1 1 1 1 1 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 0 1 1 1 0 0 0 1 0 1 1 0 1 1 1 1

         movie      actor category
0    tt0000005  nm0443482    actor
1    tt0000005  nm0653042    actor
2    tt0000007  nm0179163    actor
3    tt0000007  nm0183947    actor
4    tt0000008  nm0653028    actor
..         ...        ...      ...
104  tt0000308  nm2940072    actor
105  tt0000309  nm0164281  actress
106  tt0000309  nm0378408    actor
107  tt0000310  nm0335788    actor
108  tt0000310  nm0151209  actress

[109 rows x 3 columns]