# Intermovie - projet 6 
Utilisation de dataframes pour manipuler des données. Exportation en CSV pour chaque dataframe créé.

## Import des librairies

In [1]:
import pandas as pd 
import numpy as np
import csv

%load_ext autoreload
%autoreload 2

## 1. Sélection de la liste des acteurs par films
### Import des datas initiaux :

In [2]:
dataframe_name_basics = pd.read_csv("../movies_dataset/name.basics.tsv",sep='\t')
print('Name basics imported.')

dataframe_title_basics = pd.read_csv("../movies_dataset/title.basics.tsv",sep='\t')
print('Title Basics imported.')

dataframe_title_principals = pd.read_csv("../movies_dataset/title.principals.tsv",sep='\t')
print('Title principals imported.')

Name basics imported.
Title Basics imported.
Title principals imported.

### Nettoyage du dataset :

In [10]:
dataframe_title_principals = dataframe_title_principals.dropna()
dataframe_title_principals = dataframe_title_principals[['tconst', 'nconst']][dataframe_title_principals['category'].str.contains("actor|actress", regex=True)]

       tconst     nconst
11  tt0000005  nm0443482
12  tt0000005  nm0653042
16  tt0000007  nm0179163
17  tt0000007  nm0183947
21  tt0000008  nm0653028

In [ ]:
dataframe_title_basics = dataframe_title_basics.dropna()
dataframe_title_basics = dataframe_title_basics[['tconst', 'primaryTitle']][dataframe_title_basics.titleType.str.contains('movie', regex=True)]

In [12]:
dataframe_name_basics = dataframe_name_basics.dropna()
dataframe_name_basics = dataframe_name_basics[['nconst', 'primaryName']][dataframe_name_basics.primaryProfession.str.contains('actor|actress', regex=True)]

        tconst                   primaryTitle
8    tt0000009                     Miss Jerry
145  tt0000147  The Corbett-Fitzsimmons Fight
332  tt0000335          Soldiers of the Cross
499  tt0000502                       Bohemios
571  tt0000574    The Story of the Kelly Gang

### Jointure des tables :

In [ ]:
dataframe_title_principals = dataframe_title_principals.join(dataframe_name_basics, on='tconst', how='left', sort=True)
dataframe_title_principals.head()