# Intermovie - projet 6 
Utilisation de dataframes pour manipuler des données. Exportation en CSV pour chaque dataframe créé.

## Import des librairies

In [ ]:
import pandas as pd

%load_ext autoreload
%autoreload 2

## 2. Les notes moyennes des différents genres
### Import des datas initiaux :

In [ ]:
title_basics = pd.read_csv("../movies_dataset/title.basics.tsv",sep='\t')
print('Title Basics imported.')

title_ratings = pd.read_csv("../movies_dataset/title.ratings.tsv",sep='\t')
print('Title Ratings imported.')

### Nettoyage du dataset :

In [ ]:
title_basics = title_basics.dropna()
title_basics = title_basics[['tconst', 'genres']][title_basics.titleType.str.contains('movie|tvMovie', regex=True)]

title_ratings = title_ratings.dropna()
title_ratings = title_ratings[['tconst', 'averageRating']]

### Jointure des tables :

In [26]:
# sauvegarde = title_basics.copy()
title_basics = sauvegarde.copy()

In [27]:
title_basics = title_basics.merge(title_ratings, how='left', on=['tconst'])
title_basics = title_basics.dropna()
title_basics = title_basics[title_basics.genres != '\\N']

In [28]:
moyenne_genre = pd.DataFrame(title_basics.genres.str.split(',').tolist(), index=title_basics.tconst).stack()
title_basics = title_basics.drop(columns=['genres'])

moyenne_genre = moyenne_genre.reset_index([0, 'tconst'])
moyenne_genre.columns = ['tconst', 'genre']

moyenne_genre = moyenne_genre.merge(title_basics, how='left', on=['tconst'])
moyenne_genre = moyenne_genre[moyenne_genre.genre != '\\N']

In [29]:
moyenne_genre = moyenne_genre.groupby('genre').mean()
moyenne_genre

             averageRating
genre
Action            5.708165
Adult             5.725158
Adventure         5.885921
Animation         6.432795
Biography         6.974517
Comedy            6.008559
Crime             6.065863
Documentary       7.210440
Drama             6.327951
Family            6.287336
Fantasy           5.977322
Film-Noir         6.636247
Game-Show         6.975000
History           6.881349
Horror            5.069616
Music             6.917638
Musical           6.317775
Mystery           5.965148
News              7.196241
Reality-TV        6.346667
Romance           6.129863
Sci-Fi            5.343036
Short             7.260000
Sport             6.641292
Talk-Show         5.000000
Thriller          5.626912
War               6.546371
Western           5.982070

### Import en CSV du fichier

In [30]:
moyenne_genre.to_csv('moyenne_genre.csv', index=False)