### Système de recommendation très fortement corrélé avec [cette vidéo](https://www.youtube.com/watch?v=UoQyGG9mbSQ)

In [2]:
import numpy as np
import pandas as pd
# import seaborn as sns
import matplotlib.pyplot as plt

%load_ext autoreload
%autoreload 2

## Chargement des dataframes

In [3]:
title_ratings = pd.read_csv("../movies_dataset/title.ratings.tsv", sep='\t', index_col='tconst')
title_ratings.head()

           averageRating  numVotes
tconst
tt0000001            5.6      1550
tt0000002            6.1       186
tt0000003            6.5      1207
tt0000004            6.2       113
tt0000005            6.1      1934

In [4]:
title_basics = pd.read_csv("../movies_dataset/title.basics.tsv", sep='\t', index_col='tconst', usecols=['tconst', 'titleType', 'primaryTitle', 'genres'])
title_basics = title_basics[title_basics.titleType.str.contains('movie|tvMovie', regex=True)]
title_basics.head()

          titleType                   primaryTitle                  genres
tconst
tt0000009     movie                     Miss Jerry                 Romance
tt0000147     movie  The Corbett-Fitzsimmons Fight  Documentary,News,Sport
tt0000335     movie          Soldiers of the Cross         Biography,Drama
tt0000502     movie                       Bohemios                      \N
tt0000574     movie    The Story of the Kelly Gang   Biography,Crime,Drama

## Filtrage des dataframes

In [10]:
print(len(title_basics))
title_basics = title_basics[title_basics.genres != '\\N']
print(len(title_basics))

656571
571959

## Manipulations diverses